.absent_diplay {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.absent_numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: center;
  /* background-color: brown; */
  width: 80%;
  margin: 0 auto 20px auto;
}

.absent_number {
  margin: 10px;
  padding: 5px 20px;
  color: white;
  background: rgb(245, 87, 0);
  border-radius: 5px;
  transition: all ease 0.3s;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  cursor: pointer;
}
.absent_number.on {
  color: black;
  background: white;
}

.absent_number:hover {
  transform: scale(105%) rotate(-1deg);
}
