.qr_diplay {
  position: relative;
  height: 150px;
}

.qr_buttons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.qr_button {
  position: inherit;
  top: 10px;
  height: 30px;
  margin: 0 20px;
  padding: 15px;

  border-radius: 30px;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  opacity: 100%;
  transition: all ease 0.3s;
}

.qr_button input {
  display: none;
}

.qr_button_0 {
  color: white;
  background: rgb(245, 87, 0);
}

.qr_button_1 {
  color: black;
  background: rgb(250, 250, 250);
}

#canvas {
  display: none;
}
