.error_display {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
  background: rgb(6, 102, 106);
  border-radius: 20px;
  opacity: 0%;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  transform: scale(105%);
  transition: all ease 0.3s;
}

.error_display.open {
  transform: scale(100%);
  opacity: 100%;
  pointer-events: all;
  user-select: none;
}

.error_close_button {
  width: 120px;
  height: 40px;
  margin: 30px auto;
  background: white;
  color: black;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;

  user-select: none;
  cursor: pointer;
  transition: all ease 0.3s;
}

.error_close_button:hover {
  transform: scale(105%) rotate(-1deg);
}

.error_display .p1 {
  margin: 20px auto 0 auto;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.error_display .p2 {
  margin: 10px auto 0 auto;
  padding: 15px;
  color: white;
  background: rgb(245, 87, 0);
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
